# Generated website directory
# _site/
_notes/
# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/

node_modules/**/*

_includes/

_layouts/

_pages/

_plugins/

_sass/

Gemfile

Gemfile.lock

README.md