@import "presets";

.links line {
  stroke: #ccc;
  @include darkmodeToggle(stroke, #ccc, #444);
  opacity: 0.5;
}

.nodes circle {
  cursor: pointer;
  fill: #8b88e6;
  @include darkmodeToggle(fill, #8b88e6, #4f4d85);
  transition: all 0.15s ease-out;
}

.text text {
  cursor: pointer;
  fill: #333;
  @include darkmodeToggle(fill, #333333, rgb(168, 168, 168));
  text-shadow: -1px -1px 0 #fafafabb, 1px -1px 0 #fafafabb, -1px 1px 0 #fafafabb,
    1px 1px 0 #fafafabb;
  @include darkmodeToggle(
    text-shadow,
    (
      -1px -1px 0 #fafafabb,
      1px -1px 0 #fafafabb,
      -1px 1px 0 #fafafabb,
      1px 1px 0 #fafafabb
    ),
    (
      -1px -1px 0 #1d1d1dbb,
      1px -1px 0 #1d1d1dbb,
      -1px 1px 0 #1d1d1dbb,
      1px 1px 0 #1d1d1dbb
    )
  );
}

.nodes [active],
.text [active] {
  cursor: pointer;
  fill: black;
  @include darkmodeToggle(fill, black, white);
}

.inactive {
  opacity: 0.1;
  transition: all 0.15s ease-out;
}

#graph-wrapper {
  background: #fcfcfc;
  @include darkmodeToggle(background, #fcfcfc, #222222);
  border-radius: 4px;
  height: auto;
}
